/* Sidebar
============================================================= */
.sidebar {
  position: sticky;
  top: 1px;

  display: flex;
  flex-direction: column;
  gap: 1rem;

  padding: 1rem;
  min-width: 350px;
  max-width: 100%;
  height: 100vh;

  background-color: #e3e3e3;
  border: 2px solid #cccccc;
  border-top-right-radius: 10px;
  box-shadow: 2px 0 10px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;

  z-index: 1000;
  overflow: hidden;
}

/* category search bar */
.categories-search-bar,
.view-controls {
  width: 100%;
  padding: 0.5rem;

  font-size: 1.5rem;
  border: 2px solid #759ffc;
  border-radius: 10px;
  box-sizing: border-box;
}

.categories-search-bar:hover,
.view-controls:hover {
  box-shadow: 0 0 10px 2px #759ffc;
}

.categories-search-bar:focus {
  outline: none;
}

.categories,
.categories button {
  font-size: 1.5rem;
}

.categories {
  margin: 0;
  padding-left: 1rem;

  list-style: none;
  border-left: 2px solid #759ffc;
}

.categories li {
  padding: 0.5rem;

  border-bottom: 2px solid transparent;

  transition: 200ms ease-in-out;
  cursor: pointer;
}

.categories li:hover {
  background: #e3e3e3;
  box-shadow: 0px 5px 4px 0px #cccccc;
}

/* add-category */
.add-category button {
  padding: 0.5rem 3rem;

  color: white;
  font-size: 1.5rem;
  text-decoration: none;
  background: var(--primary);
  border: none;
  border-radius: 10px;

  cursor: pointer;
}

.add-category button:hover {
  filter: brightness(1.2);
}

.add-category .btn-add-category {
  width: 100%;
}

.create-category {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.create-category div {
  display: flex;
  gap: 1rem;
}

.create-category input {
  flex: 1;

  padding: 0.5rem;
  width: auto;

  font-size: 1.5rem;
  background: transparent;
  border: 2px solid #759ffc;
  border-radius: 10px;
}

.create-category input:hover {
  box-shadow: 0 0 10px 2px #759ffc;
}

.create-category input:focus {
  outline: none;
}

.add-category .btn-create,
.add-category .btn-cancel {
  padding: 0.3rem 1rem;
  width: 100%;
}

.add-category .btn-cancel {
  background: red;
}

.add-category .btn-cancel:hover {
  filter: brightness(0.8);
}

@media screen and (max-width: 880px) {
  .sidebar {
    position: static;
    height: fit-content;
  }
}

/* View Page
============================================================= */
.view-page {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr;
  gap: 1rem;
}

.category-toggle {
  background: none;
  border: none;

  cursor: pointer;
}

.error {
  text-align: center;

  font-size: 2rem;
}

@media screen and (max-width: 880px) {
  .view-page {
    display: flex;
    flex-direction: column;

    width: 100vw;
  }
}

/* specimens-view-container
============================================================= */
.specimens-view-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  padding: 1rem;

  overflow-x: auto;
}

/* inventory search bar 
========================================= */
.view-controls {
  display: flex;

  background: white;
}

.view-controls input {
  flex: 1;

  width: auto;

  font-size: 1.5rem;
  background: transparent;
  border: none;
}

.view-controls input:focus {
  outline: none;
}

#grid-list-toggle {
  display: flex;
  align-items: center;

  background: none;
  border: none;

  cursor: pointer;
}

#grid-list-toggle .active {
  filter: invert(61%) sepia(97%) saturate(500%) hue-rotate(170deg) brightness(100%) contrast(95%);
}

#grid-list-toggle img {
  width: 3rem;
}

.view-add-btn {
  display: flex;
  justify-content: right;
}

.view-add-btn a {
  padding: 0.5rem 3rem;

  color: white;
  font-size: 1.5rem;
  text-decoration: none;
  background: var(--primary);
  border: none;
  border-radius: 10px;

  cursor: pointer;
}

.view-add-btn a:hover {
  filter: brightness(1.2);
}

@media screen and (max-width: 460px) {
  .view-controls {
    flex-direction: column;
  }
}

/* grid-view
========================================= */
.grid-view {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}

.specimen-card-container {
  position: relative;

  border-radius: 20px;
  box-shadow: 0px 5px 4px 0px #cccccc;

  transition: 200ms ease-in-out;
  overflow: hidden;
}

.specimen-card-container:hover {
  box-shadow: 0 0 10px 2px #759ffc;
}

/* .specimen-card-menu {
  position: absolute;
  bottom: 5rem;
  right: 0;

  z-index: 1000;
}

.specimen-card-menu button {
  background: none;
  border: none;

  width: 4rem;

  cursor: pointer;
}

.specimen-card-menu img:hover {
  filter: invert(42%) sepia(88%) saturate(1000%) hue-rotate(160deg);
} */

.specimen-link {
  color: black;
  text-decoration: none;
}

.specimen-card {
  background: #e3e3e3;

  overflow: hidden;
}

.specimen-card img {
  width: 100%;
  height: 100%;
  aspect-ratio: 1/1;

  object-fit: cover;
}

.specimen-card .specimen-info {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  padding: 0.5rem;
}

.specimen-info p {
  margin: 0;

  font-size: 1.5rem;
  text-align: center;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.specimen-card-btns {
  display: flex;
  gap: 0.5rem;
}

.specimen-card-btns button {
  padding: 0.3rem 1rem;

  color: white;
  font-size: 1.2rem;
  text-decoration: none;
  background: var(--primary);
  border: none;
  border-radius: 10px;

  cursor: pointer;
}

.specimen-card-btns button:hover {
  filter: brightness(1.2);
}

.specimen-card-btns-delete,
.specimen-card-btns-update,
.specimen-card-btns-update button {
  width: 100%;
}

.specimen-card-btns .specimen-card-btns-delete {
  background: rgb(199, 0, 0);
}

@media screen and (max-width: 1500px) {
  .grid-view {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 1200px) {
  .grid-view {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* list-view
========================================= */
.list-view {
  margin-top: 20px;
  width: 100%;

  font-size: 16px;
  border-collapse: collapse;
}

.list-view th,
.list-view td {
  padding: 0.5rem;

  text-align: left;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.list-view th {
  font-weight: bold;
  background-color: snow;
}

.list-view tr {
  transition: background 0.3s;
}

.list-view tr:hover {
  background-color: lightgray;

  cursor: pointer;
}

.table-img {
  width: 100px;
  height: auto;
  object-fit: contain;
}
